/* Custom Vampire Fonts */
@font-face {
    font-family: "lenarin";
    src: url(/fonts/lenarin.ttf) format("truetype");
}
@font-face {
    font-family: "deroos";
    src: url(/fonts/deroos.ttf) format("truetype");
}
@font-face {
    font-family: "perc";
    src: url(/fonts/percreg.ttf) format("truetype");
}
@font-face {
    font-family: "perc";
    src: url(/fonts/percreg.ttf) format("truetype");
}
@font-face {
    font-family: "perc-bold";
    src: url(/fonts/percbold.ttf) format("truetype");
}
@font-face {
    font-family: "perc-exp";
    src: url(/fonts/percexp.ttf) format("truetype");
}
@font-face {
    font-family: "perc-text";
    src: url(/fonts/perctext.ttf) format("truetype");
}

/* Logo CSS */
img.logo {
    max-width:  25%;
    max-height: 25%;
}

/* Universal Attributes */
table tr td {
    width: 30%;
}

/* Base Traits CSS */
table.base-traits {
    width:  60%;
    height: 80%;
    border: 1px solid black;
    border-collapse: collapse;
}
table.base-traits tr td {
    table-layout: auto;
}
table.base-traits tr td {
    border: 1px solid black;
    white-space: nowrap;
}
label.base-traits {
    width: 30%;
    float: left;
    font-family: perc-exp;
}
input.base-traits {
    width: 65%;
    float: right;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    -webkit-box-shadow: none;
    font-family: lenarin;
}
div.clan-select {
    float: right;
    width: 70%;
}

/* Bubbles CSS */
div.bubble-container {
    width: 49%;
    display: inline-block;
}
div.bubble {
    width: 10px;
    height: 10px;
    margin: 2px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    display: inline-block;
}
div.bubble-active {
    background-color: darkred;
}

/* Attributes CSS */
table.attributes {
    width:  60%;
    height: 80%;
    border-collapse: collapse;
}
table.attributes thead tr td {
    text-align: center;
}
table.attributes thead tr.attributes-title td {
    border-bottom: 1px solid black;
}
label.attributes-title {
    font-size: 200%;
    font-family: perc-bold;
}
label.attribute-category {
    font-family: perc-exp;
    font-size: 150%;
}
label.attribute {
    width: 49%;
    font-size: 85%;
    text-align: center;
    font-family: perc-exp;
    display: inline-block;
}
td.attribute-physical {
    border-right: 1px solid black;
}
td.attribute-mental {
    border-left: 1px solid black;
}

/* Health / Willpower CSS */
table.counters {
    width:  60%;
    height: 80%;
    margin-top: 10px;
    border-collapse: collapse;
}
table.counters tr td label {
    font-size: 80%;
    font-family: perc-exp;
}
td.health-td label {
    float: right;
    margin-right: 20%;
}
td.willpower-td label {
    float: left;
    margin-left: 15%;
}
div.box-container {
    display: inline-block;
}
div.box {
    width: 9px;
    height: 9px;
    outline: none;
    vertical-align: middle;
    border: 1px solid black;
    display: inline-block;
}
div.box-divider {
    display: inline-block;
}
div.health-container {
    float: right;
    margin-right: 5%;
}
div.willpower-container {
    float: left;
    margin-left: 5%;
}

/* Skills CSS */
table.skills {
    width:  60%;
    height: 80%;
    border-collapse: collapse;
}
table.skills thead tr td {
    text-align: center;
}
tr.skills-title {
    font-size: 200%;
    font-family: perc-bold;
    border-bottom: 1px solid black;
}
table.skills tbody tr td div.bubble-container {
    width: 35%;
}
div.space-buffer {
    height: 5px;
}
div.skill-buffer {
    width: 65%;
    float: left;
    overflow: hidden;
    white-space: nowrap
}
div.skill-buffer label.skill:after {
    content: " .........................................";
}
label.skill {
    width: 49%;
    font-size: 85%;
    font-family: perc-exp;
    display: inline-block;
}

/* Disciplines CSS */
table.disciplines {
    width:  60%;
    height: 80%;
    border-collapse: collapse;
}
table.disciplines thead tr td {
    text-align: center;
}
table.disciplines tbody tr td {
    border: 1px solid black;
}
table.disciplines tbody tr td div.bubble-container {
    width: 35%;
}
tr.disciplines-title {
    border-bottom: 1px solid black;
}
label.disciplines-title {
    font-size: 200%;
    font-family: perc-bold;
}
label.discipline {
    width: 65%;
    display: inline-block;
    font-family: perc-exp;
}
td.power-td {
    height: 30px;
}
div.power {
    width: 100%;
    height: 100%;
}

/* Resonance / Hunger / Humanity CSS */
table.bottom-counters {
    width:  60%;
    height: 80%;
    border-collapse: collapse;
}
table.bottom-counters tbody {
    align-content: center;
}
label.resonance-label {
    width: 34%;
    display: inline-block;
}
div.resonance-buffer {
    width: 64%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
label.hunger-label {
    width: 44%;
    padding-right: 5px;
    text-align: right;
    display: inline-block;
}
div.hunger-container {
    width: 52%;
    display: inline-block;
}
label.humanity-label {
    width: 28%;
    padding-left: 5px;
    padding-right: 5px;
}
div.humanity-container {
    width: 63%;
}
