/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-size: 80%;
    font-family: lenarin;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: white;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 5px;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-color: grey transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent grey transparent;
    top: 4px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: black;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: lightgrey;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}